
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.product-card {
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    margin: auto;
    margin-bottom: 5em;
    width: 40%;
}


.product-card img{
    max-width: 20em;
}